{
  "activeProfileId": "default",
  "profiles": [
    {
      "id": "default",
      "name": "Default Profile",
      "bindings": [
        {
          "id": "pad1-enter",
          "deviceId": "any",
          "channel": 1,
          "eventType": "noteOn",
          "number": 37,
          "actions": [
            {
              "type": "keyboard",
              "key": "Enter",
              "command": false,
              "option": false,
              "control": false,
              "shift": false,
              "mode": "press"
            }
          ]
        },
        {
          "id": "pad-46-ctrl-shift-d",
          "deviceId": "any",
          "channel": 1,
          "eventType": "noteOn",
          "number": 46,
          "actions": [
            {
              "type": "keyboard",
              "key": "D",
              "command": false,
              "option": false,
              "control": true,
              "shift": true,
              "mode": "toggleHold"
            }
          ]
        },
        {
          "id": "pad-45-shift-tab",
          "deviceId": "any",
          "channel": 1,
          "eventType": "noteOn",
          "number": 45,
          "actions": [
            {
              "type": "keyboard",
              "key": "Tab",
              "command": false,
              "option": false,
              "control": false,
              "shift": true,
              "mode": "press"
            }
          ]
        },
        {
          "id": "pad-40-up",
          "deviceId": "any",
          "channel": 1,
          "eventType": "noteOn",
          "number": 40,
          "actions": [
            {
              "type": "keyboard",
              "key": "UpArrow",
              "command": false,
              "option": false,
              "control": false,
              "shift": false,
              "mode": "press"
            }
          ]
        },
        {
          "id": "pad-36-down",
          "deviceId": "any",
          "channel": 1,
          "eventType": "noteOn",
          "number": 36,
          "actions": [
            {
              "type": "keyboard",
              "key": "DownArrow",
              "command": false,
              "option": false,
              "control": false,
              "shift": false,
              "mode": "press"
            }
          ]
        }
      ]
    }
  ],
  "verboseLogging": true
}
